<ion-view view-title="Add Event">
  <ion-content class="padding">
    <form ng-submit="addEvent(event)">
      <label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="search" placeholder="Enter food" ng-model="food" ng-change="searchFood()" />
      </label>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="food in foods" type="item-text-wrap">
        <h2>{{food.name}}</h2>
        <!--
        <ion-option-button class="button-assertive" ng-click="remove(event)">
          Delete
        </ion-option-button>
	-->  
      </ion-item>
    </form>
  </ion-content>
</ion-view>
