<ion-view view-title="Add Event">
  <ion-content class="padding">
    <form ng-submit="addEvent(event)">
      <label class="item item-input">
	<i class="icon ion-search placeholder-icon"></i>
	<input type="search" placeholder="Search">
      </label>
        <!--
        <div class="list">
	  <label class="item item-input">
	    <input type="date" placeholder="Date" ng-model="event.time" />
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Food" ng-model="event.food" />
	  </label>
	</div>
	<div class="">
	  <button class="button button-positive button-full">
	    Record Event
	  </button>
	</div>
	-->  
    </form>
  </ion-content>
</ion-view>
