<ion-view view-title="Scan Food">
  <ion-content class="padding">
    <img ng-src="{{pictureOfLabel}}" style="max-width: 100%" />
    <form name="foodCreate">
      <label class="item item-input">
	<input type="text" ng-model="obj.foodName" name="food" rows="4"></input>
      </label>
      <button class="button button-block button-positive icon-right ion-chevron-right" ng-click="update(obj)">Create Product</button>
    </form>
      
    <!--
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search"
	     placeholder="Enter food"
	     ng-model="food"
	     ng-model-options="{ debounce: 500 }"
	     ng-change="getFoods()" />
    </label>
    <ion-item class="item-remove-animate item-avatar item-icon-right"
	      ng-repeat="food in foods | filter:food"
	      type="item-text-wrap"
	      ng-click="selectFood(food)">
      <h2>{{food.name}}</h2>
    </ion-item>
    -->  
  </ion-content>
</ion-view>
